<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>RequestAndResponse</display-name>
  <servlet>
    <servlet-name>AServlet</servlet-name>
    <servlet-class>practice.response.AServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AServlet</servlet-name>
    <url-pattern>/AServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BServlet</servlet-name>
    <servlet-class>practice.response.BServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BServlet</servlet-name>
    <url-pattern>/BServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CServlet</servlet-name>
    <servlet-class>practice.response.CServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CServlet</servlet-name>
    <url-pattern>/CServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DServlet</servlet-name>
    <servlet-class>practice.response.DServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DServlet</servlet-name>
    <url-pattern>/DServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReqAServlet</servlet-name>
    <servlet-class>practice.request.AServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqAServlet</servlet-name>
    <url-pattern>/ReqAServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReqBServlet</servlet-name>
    <servlet-class>practice.request.BServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReqBServlet</servlet-name>
    <url-pattern>/ReqBServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>